PORT=5000
MONGO_URI=mongodb+srv://atul852798_db_user:oxy3h5Ir98ke1Ln8@cluster0.uszowca.mongodb.net/?appName=Cluster0
JWT_SECRET=morning
ADMIN_EMAIL=atul852798@gmail.com
ADMIN_PASSWORD=trainer@4321
CLIENT_URL=http://localhost:5173
